@import '../../../shared/src/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-safelist {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
    @apply bg-secondary text-secondary-foreground hover:bg-accent hover:text-accent-foreground;
    @apply border border-input;
  }
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
